html, body {
	font-family: 'Helvetica','sans-serif';
	height: 100%;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #1b2d38;
}
#map {
	height: 100%;
}

#top_panel {
	position: absolute;
	right: 0%;
	z-index: 5;
	background-color: #1b2d38;
	border: 1px solid #00613b;
	text-align: center;
	font: 13px 'Helvetica','sans-serif';
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 13px;
	color: #ffffff;
	position: absolute;
	z-index: 5;
	opacity: 0.85;
}
#top_button{
	background-color: #00613b;
	border-style: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
}
#legend{
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-align: right;
	background-color: #1b2d38;
}
#fieldset{
/*	background-color: #00613b;*/
	border: 2px solid #00613b;
}